
body{
    background-color: #fffaf1;
}


.bg{
    color: black;
    border: 1px solid black;
}

.cc {
    background: #6e7a8e;
}

h1{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:0pt;
    font-size:3.2em;
    text-align:left;
    font-family:georgia, serif;
    line-height:2;
}
h2{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:0pt;
    font-size:2.7em;
    text-align:left;
    font-family:georgia, serif;
    line-height:2;
}
h3{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:0pt;
    font-size:2.1em;
    text-align:left;
    font-family:georgia, serif;
    line-height:2;
}
p{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:0pt;
    font-size:1.6em;
    text-align:left;
    font-family:arial, helvetica, sans-serif;
    line-height:2;
}
p2{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:0pt;
    font-size:1.2em;
    text-align:center;
    font-family:arial, helvetica, sans-serif;
    line-height:1.2;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}
.navbar-brand{
    color: black;
    font-size: 2.7em; 
}

.adrress-bar{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:2.2em;
    text-align:left;
    font-family:arial black, sans-serif;
    line-height:2;
}

.grad {
    background: #6e7a8e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#6e7a8e, 505f78); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6e7a8e, 505f78); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6e7a8e, 505f78); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6e7a8e, 505f78); /* Standard syntax */
}
.section-colored{
    padding-bottom: .5em;
}

