
body{
    background-color: #fffaf1;
}


.bg{
    color: black;
    border: 1px solid black;
}

.cc {
    background: #6e7a8e;
}

h1{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:0pt;
    font-size:3.2em;
    text-align:center;
    font-family:georgia, serif;
    line-height:2;
    text-shadow: 2px 2px 2px #333;
}
h2{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:0pt;
    font-size:2.7em;
    text-align:left;
    font-family:georgia, serif;
    line-height:2;
}
h3{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:0pt;
    font-size:2.1em;
    text-align:left;
    font-family:georgia, serif;
    line-height:2;
}
p{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:0pt;
    font-size:1.6em;
    text-align:left;
    font-family:arial, helvetica, sans-serif;
    line-height:2;
    text-shadow: 1px 1px 1px #333;
}

a: hover{
    color: white;
    background: #374763;
}

p2{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:0pt;
    font-size:1.2em;
    text-align:center;
    font-family:arial, helvetica, sans-serif;
    line-height:1.2;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}
ul.nav a:hover { color: #fff !important; }

.address-bar{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:2.2em;
    text-align:center;
    font-family:arial black, sans-serif;
    line-height:2;
}

.section{
	border-radius: 10em;
}

.well{
    margin-top: 10em;
    margin-bottom: 10em;
}
