
body{
    background-color: #fffaf1;
}


.bg{
    color: black;
    border: 1px solid black;
}

.cc {
    background: #6e7a8e;
}

p{font-size: 1.2em;}
h2{font-size: 2em;}
h3{font-size: 3em;}
h2{font-size: 4em;}
h1{font-size: 5em;}

.nav.navbar-nav.navbar-right li a {
    color: black;
}

.nav.navbar-nav.navbar-left li a {
    color: black;
}

.adrress-bar{ 
    font-weight: bold;
    font-style: italic;
}
