
<div class="section-colored text-center">

    <div class="container">

        <div class="row">
        
            <div class="col-lg-8">
                <h2>Wholesale To The Trade</h2>
                <p>We are primarily a wholesale distributer to trade professionals. We offer trade and commercial pricing with valid credentials, or are happy to work with clients on a retail basis </p>
                
            </div>

            <div class="col-lg-4">
                <img class="image-responsive" src="assets/vin1.jpg" alt="a vignette of artificial plants and decorative accessories">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <img class="image-responsive" src="assets/gr1.jpg" alt="a vignette of artificial plants and decorative accessories">
            </div>
            <div class="col-lg-8 text-center">
                <h2></h2>
                <p>Beck's Silk Plant Company has been serving the design and commercial trade business in Colorado and the West for over 30 years. We are a custom manufacturer and wholesaler of the highest quality artificial trees, plants and floral arrangements. Thousands of items ready to purchase off our 13,000 square foot showroom/warehouse facility. Or, we can custom design something to your exact specifications. Our talented design and sales staff are here to help you meet your interior residential or commercial needs.</p>
                <hr>
            </div>
            
    <!-- /.container -->
        </div>
</div>
<!-- /.section -->
<div class="section-colored">

    <div class="container">

        <div class="row">

            <h1>Why Choose Silk?</h1>
        
            <div class="col-lg-8">
                <h2>Low Maintenence</h2>
                <p>Many people have difficulty maintaining live plants due to lighting, maintenance and time constraints. Silk plants offer a low maintenance alternative, while providing the same warmth and style of live botanicals. In addition, permanent botanicals do not attract insects, require no pesticides and create an allergy-free environment.</p>
                
            </div>

            <div class="col-lg-4">
                <img class="img-responsive" src="assets/vin2.jpg" alt="a vignette of artificial plants and decorative accessories">
            </div>

        </div>
        
        <div class="row">
            <h2></h2>
            <div class="col-lg-6">
            
            </div>

            <div class="col-lg-6">
            
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>BECK'S SILK PLANT COMPANY SUPPORTS THE DAN LUNGER MEMORIAL FUND</h4>
            <p>Save a Child's Heart - visit <a href="http://www.dansfund.org" target="_blank">www.dansfund.org</a> to see how you can help get Automatic External Defibrillators (AEDs) into Colorado Schools</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <img class="img-responsive" src="assets/dlfl.jpg">
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

