
<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Wholesale To The Trade</h2>
                <p>Beck's primary busines is wholesale to </p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Beck's has been serving Denver and the Western US for over 30 years.</h2>
                <hr>
            </div>
            
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>BECK'S SILK PLANT COMPANY SUPPORTS THE DAN LUNGER MEMORIAL FUND</h4>
            <p>Save a Child's Heart - visit <a href="http://www.dansfund.org" target="_blank">www.dansfund.org</a> to see how you can help get Automatic External Defibrillators (AEDs) into Colorado Schools</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <img class="img-responsive" src="assets/dlfl.jpg">
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

