<div class="section">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Products</h1>
                <div class="col-lg-4">			
                    <img class="img-responsive" src="assets/gr2.jpg" alt="a vignette of artificial plants and decorative accessories">
                </div>
                <div class="col-lg-8">
                    <p>Our artificial trees and plants are so life-like, it is hard to tell the difference from the real thing. Come visit our showroom and experience the difference yourself. We pride ourselves in offering  you a personal, service oriented, enjoyable buying experience, with the finest quality silks in the region.
                    </p>
                </div>

            </div>

        </div>
    
    </div>
<!-- /.section -->
</div>

<div class="section-colored">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h2>Florals</h2>
            </div>
            <div class="col-lg-4">
                    <img class="img-responsive" src="assets/floral1.jpg" alt="a vignette of artificial plants and decorative accessories">
            </div>
            <div class="col-lg-8">
                    <p>We stock 1000's of flower stems of the highest quality, in both botanically correct and designer colors and styles. We custom design your arrangement in the style and size you require. Many arrangements are available for immediate purchase from our showroom floor. We are happy to work with a container you already have or one you select from our stock.
                    </p> 
            </div>
            <div class="col-lg-8">
                    <p>When ordering a custom floral arrangement, keep in mind: Finished Dimensions (height, width and depth). Desired Overall Shape (rounded, famming, tall, short, one sided or all around).  Style (archetectural, garden, traditional, contemporary, parellel, bidermeyer or layered)</p>
            </div>
            <div class="col-lg-4">             
        <img class="img-responsive" src="assets/floral2.jpg" alt="a vignette of artificial plants and decorative accessories">            
            </div>


        </div>
    
    </div>
<!-- /.container -->
</div>

<div class="section">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h2>Floor Plants & Palms</h2>
            </div>
            <div class="col-lg-4">
                    <img class="img-responsive" src="assets/f_p1.jpg" alt="a floor plant">
            </div>
            <div class="col-lg-8">
                    <p>The inventory at Beck's Silk Plant Company includes dozens of floor plants and plams. Floor plants are available loose or potted in paper mache pots for placement in your own container, or for permanent potting in your container or ours. 
                    </p> 
            </div>
            <div class="col-lg-8">
                    <p> Our selection is constantly being updated, with unique new foliages arriving weekly. Consequently, many of our clients find it helpful to shop our showroom frequently, so they can be advised of the latest trends and technology</p>
            </div>
            <div class="col-lg-4">             
        <img class="img-responsive" src="assets/f_p22.jpg" alt="artificial plants and decorative accessories">            
            </div>


        </div>
    
    </div>
<!-- /.container -->
</div>

<div class="section-colored">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h2>Shelf Plants</h2>
            </div>
            <div class="col-lg-4">
                    <img class="img-responsive" src="assets/s_p1.jpg" alt="a shelf plant"> 
            </div>
            <div class="col-lg-4">
                    <p>The inventory at Beck's Silk Plant Company includes hundreds of leafy shelf plants, grasses and succulents. Shelf plants are available loose, potted in clay pots for placement in your own container, or for permanent potting in your container or ours.</p>
            </div>
            <div class="col-lg-4">             
        <img class="img-responsive" src="assets/s_p2.jpg" alt=" a shelf plant">            
            </div>


        </div>
    
    </div>
<!-- /.container -->
</div>
