<div class="section">

    <div class="container">

        <div class="row">
            
            <div class="col-lg-12">

                <h1>Services</h1>
                <hr>

            </div>

        </div>

        <div class="row">
  
            <div class="col-lg-6">
                <h2>Custom Orders</h2>
                <p>Custom orders on trees, plants or florals normally take 1- 3 weeks, depending on the size of the order and time of the year. A deposit may be required for custom orders. Custom orders are non-returnable. Adjustments can likely be made, but may result in additional charges.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-colored">

    <div class="container">

        <div class="row">

            <div class="col-lg-6">

		<h2>Wholesale</h2>
                <hr>
   
                <p>Designers are welcome to take items out for 7 calendar days, assuming you can easily load them into your vehicle without damage to the product.</p>
                <p>We require wholesale payment at the time you leave with the merchandise, your payment will be processed at the end of the 7th day.</p>
                <p>Damaged product or product that smells cannot be returned.</p>
                
                <h3>
                The following documents are required for wholesale pricing: 
                </h3>
                <ul>
                    <li>Photocopy of city and state Sales Tax License
                    <li>Photocopy of Business check or Master Card/ Visa in Business Name
                    <li>Business Card
                    <li>Signed copy of "Intent to Resell" form
                </ul> 
            </div>
            
            <div class="col-lg-6">
		<h2>Commercial</h2>
                <hr>
  
                <p>For locations such as airport, hotels, offices, banks, restaurants, and model homes, silk foliage offers a cost-effective savings over a monthly lease-maintenance contract for live plants. In addition, silk plants are ideal for high-security areas, eliminating the need for the continuous personnel access live botanicals require.
                </p>
   
                <h3>
                The following documents are needed for commercial pricing 
                </h3>
                <ul>
                    <li>Copy of EIN assignment from the Internal Revenue Service</li>
                    <li>Copy of Business Card</li>
                    <li>Payment made via Business Check or Credit Card</li>
                </ul>              
           	
            </div>     
        <!-- /.row-->
        </div>
    <!-- /.container-->
    </div>
<!-- /.section -->
</div>
