<div class="section">

    <div class="container">

        <div class='"row">

            <div class="col-lg-12">
                <h1>Services</h1>
                <hr>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6">
		<h2>Wholesale</h2>
                <hr>
                <br>
                <p></p>
                <h3>
                The following documents are needed for wholesale pricing: 
                </h3>
                <br>
                <p>Photocopy of city and state Sales Tax License
                <br>Photocopy of Business check or Master Card/ Visa in Business Name
                <br>Business Card
                <br>Signed copy of "Intent to Resell" form
                </p> 
            </div>
            
            <div class="col-lg-6">
		<h2>Commercial</h2>
                <hr>
                <br>
                <p>For locations such as airport, hotels, offices, banks, restaurants, and model homes, silk foliage offers a cost-effective savings over a monthly lease-maintenance contract for live plants. In addition, silk plants are ideal for high-security areas, eliminating the need for the continuous personnel access live botanicals require.
                </p>
                <br>
                <h3>
                The following documents are needed for commercial pricing 
                </h3>
                <br>
                <p>Copy of EIN assignment from the Internal Revenue Service
                <br>Copy of Business Card
                <br>Payment made via Business Check or Credit Card
                </p>                
           	
            </div>
                         
           
             
            
        <!-- /.row-->
        </div>
    <!-- /.container-->
    </div>
<!-- /.section -->
</div>
